.Options {
  position: absolute;
  top: 80px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    width: fit-content;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
  }

  &--visible {
    height: auto;
  }

  &__field {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 300px;
    height: 35px;

    &:last-child {
      margin-top: 30px;
    }
  }

  &__input {
    width: 50px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
  }

  &__bottom {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 14px;
    width: max-content;
    margin: 0 auto;
    color: #ffffff;
    background-color: #343435;
    border-radius: 8px;
    font-family: "proxima-nova-soft", sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;

    &:hover {
      background-color: #272727;
    }

    &:active {
      background-color: #4e4e4e;
    }
  }
}
